.nameFilter {
  border: none;
  color: #090909;
  padding: 0.7em 1.7em;
  margin: 10px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  /* box-shadow: 6px 6px 12px #c5c5c5,
                          -6px -6px 12px #ffffff; */
  cursor: pointer;
}

.nameFilter:hover {
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  border: 1px solid white;
}
