.container {
  width: 17rem;
  height: 22rem;

  box-shadow: 0px 0px 10px 2px black;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 15px;
  opacity: 0.9;
  display: flex;

  align-items: center;
  justify-content: center;

  color: rgb(255, 255, 255);
  position: relative;
  padding: 10px;
}
.container a > img {
  box-shadow: 0px 0px 5px 5px rgb(150, 29, 29);
  width: 200px;
  height: 8rem;
  border-radius: 10px;
}
.container > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
}
